.open-sans-simple {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;}
  
  .main-container{
      max-width: 1600px;
      margin: 0 auto;
      background-color: rgb(245, 245, 245);
     
  
  }
  nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:24px 0px;
  }
  
  
  /* sign in button */
  
  .nav-tag2{
  color: #006A50;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 8px;  
  color: #006A50;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  align-items:center ;
  justify-content:center;
  }
  .banner{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color:#C6E4D6;
      border-radius: 24px;
      margin:20px 0px  ;
      padding: 80px 100px 80px 100px;
  margin: 80px 0px;
  }
   
  .title-1{
     color: #0E0E0E;
     opacity: 50%;
     font-weight:500px;
     font-size: 24px;
  }
  .main-title1{
      font-weight: bold;
      font-size: 56px;
  
  }
  .btn1{
      background-color: #006A50;
      border-radius: 8px;
      border: none;
      padding: 17px 34px;
      color: white;
      width: 270px;
      height: 56px;
      font-weight: 600;
      font-size: 16px;
  }
  .card-1{
    width: 410.67px;
gap: 24;
padding: 32px;
flex: none;
margin: 0px 24px;
box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
  }
  .card-2{
    width: 410.67px;
gap: 24;
padding: 32px;
flex: none;
margin: 0px 24px;
box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
  }
  .card-3{
    width: 410.67px;
gap: 24;
padding: 32px;
flex: none;
margin: 0px 24px;
box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
  }
  .cards-{
    display: flex;
align-items: center;
justify-content: space-between;
padding-top: 32px;
padding-bottom: 32px;
  }
  .cmn-bold{
    font-weight: bold;
    font-size:  40px;
  }
  .pgcl1{
    font-weight: 400;
    font-size: 16px;
    padding: 0px;
    gap: 12;
color: rgba(14, 14, 14, 0.7);
  }
  .cmn-bold1{
    font-weight: bold;
    font-size: 20px;
  }
  .btn01{
    background-color: #5490F5;
      border-radius: 8px;
    border: none;
      padding:11px 20px 11px 20px;
      color:white;
      font-weight:600;
      font-size: 16px;
      line-height: 19px;
    }

.btn02{
      background-color: #09A15C;
      border-radius: 8px;
      border: none;
        padding:11px 20px 11px 20px;
        color:white;
        font-weight:600;
        font-size: 16px;
        line-height: 19px;}


.btn03{background-color: #FFC239;
      border-radius: 8px;
      border: none;
      padding:11px 20px 11px 20px;
      color:white;
      font-weight:600;
      font-size: 16px;
      line-height: 19px;}
.quote-tag{
  
    background-color: white;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 48px 24px 48px 24px;
    box-shadow: white;
  
  }
  
.name-tag {color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.act-quote{color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;}
  
 .news-1{
  display: flex;
  background-color: white;
  border-radius: 24px;
  border: none;
  align-items: center;
  gap: 32px;
  padding: 48px;
 }
 .stl-1 {
  border-radius: 24px;
  border: none;
 }
 .space{
  margin-left: 12px;
 }
 .news-title{
  color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
line-height: 38px;}

.btn-rm{background-color: #006A50;
  border-radius: 8px;
border: none;
  padding:13px 26px 13px 26px;
  color:white;
  font-weight:600;
  font-size: 18px;
  line-height: 22px;}
 .door{
  margin-bottom: 32px;
 }
 .news-el1{
  border: 1px solid black;
 }